/* app-edit-angajati.component.scss (sau .css) */

.employee-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn-save, .btn-delete, .btn-create {
    background-color: #008CBA;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-save, .btn-delete, .btn-create {
    margin-right: 10px;
}

