<div class="landing-page">
  <header>
    <div class="logo">FarmHub</div>
    <nav>
      <a href="login" class="btn btn-login">Autentificare</a>
      <a href="signup" class="btn btn-login">Înregistrare</a>
    </nav>
  </header>
  
  <main>
    <svg class="animated-title">
      <text x="50%" y="50%" dy=".35em" text-anchor="middle">
        FarmHub
      </text>
    </svg>
    <div id="containerAnimation" class="container-left-to-right">
      <p class="left-to-right">Platforma ta digitală pentru agricultură</p>
    </div>
    <div id="containerAnimation" class="container-right-to-left">
      <p class="right-to-left">Bine ați venit!</p>
  <p class="description">FarmHub este platforma digitală care simplifică gestionarea fermelor și crește eficiența în agricultură.
     Conectându-vă cu tehnologia de vârf, FarmHub vă oferă acces rapid și ușor la
      instrumentele necesare pentru a gestiona fiecare aspect al fermei dumneavoastră.</p>
  </div>
  </main>
  
  <footer>
    <p>&copy; 2024 FarmHub. Toate drepturile rezervate.</p>
  </footer>
</div>