
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  nav {
    background-color: #f0f0f0; 
    width: 100%;
    height: 50px; 
    position: relative;
    top: 0;
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  

  .navbar-brand {
    margin-top: 1%;
    margin-right: 43%;
    font-size: 2rem; 
    font-weight: bold; 
    color: white; 
    margin-left: 20px; 
  }

  nav a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 20px; 
    margin-right: 20px; 
    transition: color 0.5s; 
  }
  

  nav a:hover {
    color: greenyellow; 
  }
  

  nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgb(0, 243, 61);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
  }
  
  nav a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
  }


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto, sans-serif;
font-weight: 100;
margin-left: 500px;
font-size: 12px;
color: #ffffff;
background: linear-gradient(186deg, #ff0000 15%, #ffffff 100%);
padding: 10px 30px;
border: solid #ff0000 2px;

border-radius: 50px;
transition : 1407ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

.btn:hover{

transition : 1407ms;
padding: 10px 35px;
transform : translateY(-0px);
background: linear-gradient(186deg, #ff0000 15%, #ffffff 100%);
color: #00ff11;
border: solid 2px #cc0000;
}

