#map {
    height: 50vh;
    width: 50%;
    position: relative;
}
.btn {
    z-index: 2;
    padding: 10px;
    width: 30px;
    position: absolute;
}

.calculation-box {
    height: 75px;
    width: 150px;
    position: relative;
    bottom: 40px;
    left: 10px;
    background-color: rgba(160, 39, 39, 0.9);
    padding: 15px;
    text-align: center;
}
.p{
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}