
<div class="row" class="outer">
  <div class="col-md-6" style="max-height: 820px; overflow: auto; overflow-x: hidden;">
    <div id="containerAnimation" class="container-bottom-to-up">
      <p class="top-to-bottom">Proprietăți</p>
    </div>
    <table class="table table-hover custom-table" style="max-height: 820px; overflow: auto;" >
      <thead  style="max-height: 820px; overflow: auto;">
        <tr>
          <th>ID</th>
          <th>Stare Teren</th>
          <th>Cultura</th>
          <th>Cultura precedentă</th>
          <th>Situație </th>
          <th>Suprafață</th>
          <th>Dată înregistrării</th>
          <th>Acțiuni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drawing of drawings" (click)="selectDrawing(drawing)">
          <td>{{ drawing.id }}</td>
          <td>{{ drawing.stareTeren }}</td>
          <td>{{ drawing.tipCultura }}</td>
          <td>{{ drawing.ultimaCultura }}</td>
          <td>{{ drawing.proprietarArenda }}</td>
          <td>{{ drawing.area }} Ha</td>
          <td>{{ drawing.dateAcquired | date }}</td>
          <td>
            <div class="actiuni">
              <button id="editBtn-{{drawing.id}}"class="btn btn-sm btn-warning btn-custom btn-edit" (click)="editDrawing(drawing)">
                <mat-icon>edit_square</mat-icon>
              </button>
              <button id="deleteBtn-{{drawing.id}}" class="btn btn-sm btn-danger btn-custom btn-delete" (click)="deleteDrawing(drawing.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

 
  <div class="col-md-6">
    <div id="map"></div>
    <div class="calculation-box">
      <p>Suprafață</p>
      <div id="calculated-area"></div>

  </div>
  <button class="adaugare btn btn-primary" (click)="showAddForm = true">Adaugă teren nou</button>
  </div>
</div>

<!-- Modalu terenului -->
<div *ngIf="showAddForm" class="modal fade show modal-custom" tabindex="-1" style="display: block;" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adaugă teren nou</h5>
        <button class="btn btn-sm btn-close" (click)="showAddForm = false;">
        </button>
      </div>
      <div class="modal-body">
  
        <form (ngSubmit)="saveDrawing()">
          <div class="form-group">
            <label for="stareTeren">Stare Teren:</label>
            <select class="form-control" id="stareTeren" name="stareTeren" [(ngModel)]="formData.stareTeren" required >
              <option value="">Selectează</option>
              <option value="Arat">Arat</option>
              <option value="Discuit">Discuit </option>
              <option value="Grapat">Grapat </option>
              <option value="Semănat">Semănat </option>
              <option value="În creștere">În creștere </option>
              <option value="Recoltat">Recoltat </option>
              <option value="Pârloagă">Pârloagă </option>
            </select>
          </div>
          <div class="form-group">
            <label for="tipCultura">Cultura:</label>
            <select class="form-control" id="tipCultura" name="tipCultura" [(ngModel)]="formData.tipCultura" required>
              <option value="">Selectează</option>
              <option value="Orz">Orz</option>
              <option value="Grau">Grâu</option>
              <option value="Porumb">Porumb</option>
              <option value="Rapiță">Rapiță</option>
              <option value="Floarea soarelui">Floarea soarelui</option>
              <option value="Cartofi">Cartofi</option>
              <option value="Ovăz">Ovăz</option>
              <option value="Mazăre">Mazăre</option>
              <option value="Lucernă">Lucernă</option>
              <option value="Lucernă">Pârloagă</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ultimaCultura">Cultura precedentă</label>
            <select class="form-control" id="ultimaCultura" name="ultimaCultura" [(ngModel)]="formData.ultimaCultura" required>
              <option value="">Selectează</option>
              <option value="Orz">Orz</option>
              <option value="Grau">Grâu</option>
              <option value="Porumb">Porumb</option>
              <option value="Rapiță">Rapiță</option>
              <option value="Floarea soarelui">Floarea soarelui</option>
              <option value="Orez">Orez</option>
              <option value="Cartofi">Cartofi</option>
              <option value="Sfeclă de zahăr">Sfeclă de zahăr</option>
              <option value="Ovăz">Ovăz</option>
              <option value="Mazăre">Mazăre</option>
              <option value="Lucernă">Lucernă</option>
            </select>
          </div>
          <div class="form-group">
            <label for="proprietarArenda">Situație</label>
            <select class="form-control" id="proprietarArenda" name="proprietarArenda" [(ngModel)]="formData.proprietarArenda" required>
              <option value="">Selectează</option>
              <option value="Proprietate privată">Proprietate privată</option>
              <option value="Arendă agricolă">Arendă agricolă</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dateAcquired">Dată înregistrării</label>
            <input type="date" class="form-control" id="dateAcquired" name="dateAcquired" [(ngModel)]="formData.dateAcquired" required>
          </div>
          <button type="submit" class="btn btn-success btn-submit-custom">Adaugă</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- desenul -->
<div *ngIf="showEditModal" class="modal fade show modal-custom" tabindex="-1" style="display: block;" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Drawing</h5>
        <button class="btn btn-sm btn-close" (click)="showEditModal = false;">
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="updateDrawing()">
          <div class="form-group">
            <label for="tipCultura">Cultura:</label>
            <select class="form-control" id="stareTeren" name="stareTeren" [(ngModel)]="formData.stareTeren" required >
              <option value="">Selectează</option>
              <option value="Arat">Arat</option>
              <option value="Discuit">Discuit </option>
              <option value="Grapat">Grapat </option>
              <option value="Semănat">Semănat </option>
              <option value="În creștere">În creștere </option>
              <option value="Recoltat">Recoltat </option>
              <option value="Pârloagă">Pârloagă </option>
            </select>
          </div>
          <div class="form-group">
            <label for="tipCulturaEdit">Tip Cultura:</label>
            <select class="form-control" id="tipCultura" name="tipCultura" [(ngModel)]="formData.tipCultura" required>
              <option value="">Selectează</option>
              <option value="Orz">Orz</option>
              <option value="Grau">Grâu</option>
              <option value="Porumb">Porumb</option>
              <option value="Rapiță">Rapiță</option>
              <option value="Floarea soarelui">Floarea soarelui</option>
              <option value="Cartofi">Cartofi</option>
              <option value="Ovăz">Ovăz</option>
              <option value="Mazăre">Mazăre</option>
              <option value="Lucernă">Lucernă</option>
              <option value="Lucernă">Pârloagă</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ultimaCultura">Cultura precedentă</label>
            <select class="form-control" id="ultimaCultura" name="ultimaCultura" [(ngModel)]="formData.ultimaCultura" required>
              <option value="">Selectează</option>
              <option value="Orz">Orz</option>
              <option value="Grau">Grâu</option>
              <option value="Porumb">Porumb</option>
              <option value="Rapiță">Rapiță</option>
              <option value="Floarea soarelui">Floarea soarelui</option>
              <option value="Orez">Orez</option>
              <option value="Cartofi">Cartofi</option>
              <option value="Sfeclă de zahăr">Sfeclă de zahăr</option>
              <option value="Ovăz">Ovăz</option>
              <option value="Mazăre">Mazăre</option>
              <option value="Lucernă">Lucernă</option>
            </select>
          </div>
          
          <button type="submit" class="btn btn-success btn-submit-custom">Salvează modificările</button>
        </form>
      </div>
    </div>
  </div>
</div>
