/* app-angajati.component.scss (sau .css) */

.create-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4caf50;
    color: white;
}

.edit-btn {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

