html, body {
  margin: 0;
  height: 100%;
  
}

.container {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100hv;
  height: 100vh; 
}

.weather-layout {
  display: flex;
  width: 100%;
  
}



.weather-widget {
  margin-left: 20px;
  flex: 0 0 50%; 
  overflow: hidden;
}
.outer{
  height: 100%;
  background: linear-gradient(to top, #d4ffc9 50%, #6ef675 90%) no-repeat;
  display: flex; 
  justify-content: center; 
  overflow: hidden;
}